<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: antiquewhite">
    <div>
        <img src="img/fingerprint-identity-sensor-data-protection-system-podium-hologram-blue-light-and-concept-free-vector.jpg" alt="">
        <div style="height: 25rem; background-color:cornflowerblue; margin-top: 5rem; width: 40%; padding: 10px;margin-left:22rem;" >
            <div style="padding-top: 4rem;">
            <h4 class="font-weight-medium" id="sortme">Title:  <%=pro.title %></h4>
            <h4 class="font-weight-medium" id="sortme">Technologies:  <%=pro.technologies %></h4>
            <h4 class="font-weight-medium" id="sortme">Frontend:  <%=pro.frontend %></h4>
            <h4 class="font-weight-medium" id="sortme">Backend:  <%=pro.backend %></h4>
            <h4 class="font-weight-medium" id="sortme">Databases:  <%=pro.database %></h4>
            <h4 class="font-weight-medium" id="sortme">Infrastructure:  <%=pro.inftrastructure %></h4>
            </div>
    </div>
        
    </div>
    <!-- <h4 class="font-weight-medium" id="sortme"><%=pro.title %></h4></br> -->
</body>
</html>